@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #211F20;
}

/* Styiling the Header */
header {
    background-color: #7498CC;
    color: #211F20;
}

#heading {
    text-align: center;
    padding: 5px 0;
    font-size: 4rem;
}

/* Styling the controls area */
.control, #reset {
    margin: 20px 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: none;
    border: 2px solid #7498CC;
    background-color: #211F20;
    color: #7498CC;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    text-transform: capitalize;
}

.control:hover {
    transform: rotate(360deg);
}

#reset:hover {
    background-color: #7498CC;
    color: #211F20;
}

#controls {
    text-align: center;
    padding: 20px;
}

/* Styling for play area */
#play-area {
    text-align: center;
    background-color: rgba(106, 107, 108, .1);
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
}

.inline {
    display: inline-block;
    width: 30%;
    margin: 30px 50px;
}

.rock, .paper, .scizzors, .lizard, .spock, .match {
    width: 100%;
    border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #7498CC;
}

.players {
    color: #7498CC;
    margin: 10px 0;
    font-size: 1.3rem;
}

/* styling the score board */
#score-board {
    background-color: rgba(106, 107, 108, .1);
    width: 250px;
    margin: 30px auto;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

#score-board > h3 {
    color: #7498CC;
    font-size: 1.2rem;
}

#score-board > p {
    color: #7498CC;
    font-size: 0.8rem;
}

/* For screen sizes below 700px */
@media screen and (max-width: 700px) {

    /* Heading styling */
    #heading {
        font-size: 3rem;
    }

    /* Controls section styling */
    .inline {
        width: 50%;
    }

    .control {
        margin: 15px 10px;
    }
}

/* For screen sizes smaller than 400px */
@media screen and (max-width: 400px) {

    /* Heading style */
    #heading {
        font-size: 2rem;
    }
    
    /* Controls area styling */
    #controls {
        padding: 10px;
    }

    .control, #reset {
        margin: 5px 5px;
        font-size: 60%;
        width: 50px;
        height: 50px;
    }

    .inline {
        width: 60%;
        margin: 0 0 10px 0;
    }

    /* Play area styling */
    .players {
        font-size: 1.2rem;
    }

    /* Score board styling */
    #score-board {
        margin: 10px auto;
        width: 200px;
    }

    #score-board > h3 {
        color: #7498CC;
        font-size: 1rem;
    }
}

/* popup styling */
.swal-modal {
    background-color: #7498CC;
    border: 3px solid #211F20;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.swal-icon--success:after, .swal-icon--success:before, .swal-icon--success__hide-corners {
    background-color: #7498CC;
}